body {
    background-color: #f4f4f4;
    line-height: 1.6;
    padding: 20px;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30PX;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.paragraf-1 {
    font-size: 18px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

.paragraf-2 {
    font-size: 1.2em;
    font-family: 'Times New Roman', serif;
    font-weight: 500;
    font-style: italic;
}

.paragraf-3 {
    font-size: 1.1rem;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: normal;
}

.paragraf-4 {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    font-style: oblique;
}

.paragraf-5 {
    font-size: 1.3rem;
    font-family: Georgia, serif;
    font-weight: 300;
    font-style: normal;
    color: #333;
}

footer {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}