body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}
h1 {
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.5);
    border-radius: 16px;
    padding: 15px;
    text-align: center;
    margin-top: 50px;
}
p {
    margin-top: 50px;
    box-shadow: 5px 5px 5px 5px rgb(0, 0, 0,0.5);
    border-radius: 16px;
    padding: 15px;
    text-align: center;
}